td{
	border: 1px solid;
  text-align: center;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
}

th, #leftHead {
  border: 1px solid;
  color: darkslateblue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 15px;
}

#topRow {
  background-color: blanchedalmond;
  border: 2px solid darkslateblue;
}

h1 {
  color: darkcyan;
  font-size: 50px;
  font-family: 'Lucida Console', monospace;
  text-align: center;
}

table {
  align-self: center;
  size: 50%;
}

#images {
  width: 10px;
}