body {
  background-color: black;
}

td{
	border: 2px dotted darkslateblue;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
}

th {
  width: 20%;
  color: darkslateblue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: blanchedalmond;
  border: 2px solid darkslateblue;
}

td.leftHead {
  color: darkslateblue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: blanchedalmond;
  border: 2px solid darkslateblue;
}

h1 {
  color: darkcyan;
  font-size: 55px;
  font-family: 'Copperplate', fantasy;
  text-align: center;
}

h2 {
  color: blanchedalmond;
  font-size: 30px;
  font-family: 'Copperplate', fantasy;
  text-align: center;
}

#planets {
  align-self: center;
}

td.imgtd {
  background-color: transparent;
  border: none;
}

img.images {
  width: 75%;
}

#corner {
  background-color: transparent;
  border: none;
}