body {
  background-image: url("images/background.JPG");
  background-size: cover;
  background-color: black;
}

td{
	border: 3px dashed darkslateblue;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
}

th, #leftHead {
  size: 20%;
  border: 1px solid;
  color: darkslateblue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: blanchedalmond;
  border: 3px solid darkslateblue;
}

h1 {
  color: darkcyan;
  font-size: 50px;
  font-family: 'Lucida Console', monospace;
  text-align: center;
}

h2 {
  color: blanchedalmond;
  font-size: 30px;
  font-family: 'Lucida Console', monospace;
  text-align: center;
}

#planets {
  align-self: center;
}

#images {
  width: fit-content;
  background-color: none;
  border: none;
}